{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <article class="post">
            <time class="date">
                {{ post.published_date }}
            </time>
            <!-- 
              how does Django know where to locate urls?
              blog/urls.py is included in mysite/urls.py which is referenced by settings.py

              what is pk=post.pk?
              it's the post's primary key as an int that is appended to the URL with an arbitrary name 
             -->
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
        </article>
    {% endfor %}
{% endblock %}